---
layout: default
title: Academy
permalink: /academy/
tab_number: 3
---

{% for obj in site.data.academy %}
<div class="col-md-6">
	<h3 class="text-center">{{ obj.title }}</h3>
	<ul class="list-group">
		
		{% assign obj_entries = (obj.entries | sort: 'name') %} <!-- alphabetical sorting by name -->
		{% for e in obj_entries %}
		<li class="list-group-item">
			<strong><a href="{{ e.link }}" target="_blank">{{ e.name }}</a></strong>

			{% if e.desc %}
			<br /><em>{{ e.desc }}</em>
			{% endif %}
			
			{% if e.info %}
			<ul>
				{% for i in e.info %}
				<li>
					<a href="{{ i.link }}" target="_blank">{{ i.name }}</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}

		</li>
		{% endfor %}

	</ul>
</div>
{% endfor %}
