---
layout: default
title: Posts
permalink: /
tab_number: 1
baseurl: https://donvercety.github.io
---

<div class="col-md-8">

	{% for post in site.posts %}
	<div class="well">
		<h3>{{ post.title }}</h3>
		<p class="text-justify">{{ post.description }}</p>
		<p class="text-right"><a href="{{ post.url }}">read mode</a></p>
	</div>
	{% endfor %}

</div>

<div class="col-md-4">
	{% include sidebar-home.html %}
</div>

<script type="text/javascript">
    var host = "donvercety.github.io";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
</script>