---
layout: default
title: Mobile
permalink: /mobile/
---

<div class="col-md-9">
	<h2>Mobile Stuff</h2>

	{% for mob in site.data.mobile | sort:"name" %}
	<div class="well">
		<a href="{{ mob.link }}">
			<h3 id="{{ mob.name | downcase }}">{{ mob.name }} <small>{{ mob.language | upcase }}</small></h3>
		</a>
		<p>{{ mob.desc }}</p>
		{% if mob.info %}
			<h5 class="text-muted">Related:</h5>
			{% for i in mob.info %}
			<ul>
				<li><a href="{{ i.link }}">{{ i.name }}</a></li>
			</ul>
			{% endfor %}
		{% endif %}
	</div>
	{% endfor %}

</div>

<div class="col-md-3">
	<h2>&nbsp;</h2>
	{% include sidebar-mobile.html %}
</div>
