<footer>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src={{ "/js/myCookie.js" | prepend: site.baseurl | prepend: site.url }}></script>
	<script type="text/javascript">
        $(function() {
            
            var myCookie = myCookie;

            if( myCookie.readCookie('style') )
            {
                $('#style').attr( "href", myCookie.readCookie('style') );
            }

            $('#switch').find('a').on('click', function()
            {
                var style = $(this).attr('rel');
                myCookie.createCookie('style', style, 356);
                $('#style').attr( "href", myCookie.readCookie('style') );
            });

        });
        
        
    </script>
</foote>